@charset "UTF-8";
/*Обнуление*/
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
}

h1 {
  font-family: "Exo 2";
}
@media (max-width: 767px) {
  h1 {
    font-size: calc(
      3px + 86.7 * ((100vw - 320px) / 1920)
    );
  }
}
@media (min-width: 767px) {
  h1 {
    font-size: calc(3px + 51 * (100vw / 1920));
  }
}
@media (min-width: 1920px) {
  h1 {
    font-size: 54px;
  }
}

h2 {
  font-size: 38px;
  color: #0ead69;
  font-weight: 700;
}

html {
  background-color: #212121;
}

body {
  font-family: Nunito Sans;
  color: #fbfffe;
}

a {
  color: #fbfffe;
}

[class*=__container] {
  max-width: 1700px;
  margin: 0 auto;
  padding: 0px 15px;
}

.button {
  border-radius: 30px;
  border: 3px solid #0ead69;
}

.section__title {
  margin: 27px 0px 0px 138px;
}

.greenbar {
  border-top: solid 6px #0ead69;
}

.header__wrapper {
  max-width: 1920px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header {
  width: 100%;
  padding: 0px 35px;
  position: absolute;
  top: 20px;
  left: 0;
}

.logo {
  font-family: Kodchasan;
  color: #0ead69;
}
@media (max-width: 767px) {
  .logo {
    font-size: calc(
      12px + 81.6 * ((100vw - 320px) / 1920)
    );
  }
}
@media (min-width: 767px) {
  .logo {
    font-size: calc(12px + 48 * (100vw / 1920));
  }
}
@media (min-width: 1920px) {
  .logo {
    font-size: 60px;
  }
}

.menu {
  display: flex;
  gap: 26px;
  padding-left: 10px;
  align-items: center;
}

.menu__list {
  display: flex;
  gap: 26px;
  align-items: center;
}

.header__profile {
  max-width: 99%;
}

.header__profile img {
  -o-object-fit: cover;
     object-fit: cover;
}

.menu__item {
  text-transform: uppercase;
}
@media (max-width: 767px) {
  .menu__item {
    font-size: calc(
      3px + 32.3 * ((100vw - 320px) / 1920)
    );
  }
}
@media (min-width: 767px) {
  .menu__item {
    font-size: calc(3px + 19 * (100vw / 1920));
  }
}
@media (min-width: 1920px) {
  .menu__item {
    font-size: 22px;
  }
}

.watch {
  background: url(images/Introimg.jpg) center, no-repeat;
  background-size: cover;
}

.watch__block-order {
  padding: 15px;
}

.watch__container {
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 166px 15px 118px 15px;
}

.watch__text {
  font-family: "Exo 2";
  margin: 25px 0px 13px 0px;
}
@media (max-width: 767px) {
  .watch__text {
    font-size: calc(
      3px + 42.5 * ((100vw - 320px) / 1920)
    );
  }
}
@media (min-width: 767px) {
  .watch__text {
    font-size: calc(3px + 25 * (100vw / 1920));
  }
}
@media (min-width: 1920px) {
  .watch__text {
    font-size: 28px;
  }
}

.watch__timer-box {
  max-width: 365px;
  position: relative;
  display: flex;
  padding: 15px 23px;
}

.watch__timer-box::before,
.watch__timer-box::after {
  content: "";
  position: absolute;
  height: 100%;
  width: 3px;
  background-color: #0ead69;
}

.watch__timer-box::before {
  left: 0;
  top: 0;
}

.watch__timer-box::after {
  right: 0;
  top: 0;
}

span[class^=watch__][class$=box] {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}

.watch__hours-box {
  margin-right: 20px;
}

.watch__hours-box::after {
  content: ":";
  font-size: 50px;
  color: #0ead69;
  position: absolute;
  top: -5px;
  right: -14px;
}

.watch__minutes-box {
  margin-right: 20px;
}

.watch__minutes-box::after {
  content: ":";
  font-size: 50px;
  color: #0ead69;
  position: absolute;
  top: -5px;
  right: -14px;
}

.watch__days-box {
  margin-right: 35px;
}

[class^=watch__][class$=num] {
  color: #0ead69;
  font-size: 50px;
  margin-bottom: 10px;
}

[class^=watch__][class$=title] {
  font-size: 16px;
}

.watch__text-discount {
  color: #0ead69;
  margin: 20px 0px 40px 0px;
}
@media (max-width: 767px) {
  .watch__text-discount {
    font-size: calc(
      3px + 32.3 * ((100vw - 320px) / 1920)
    );
  }
}
@media (min-width: 767px) {
  .watch__text-discount {
    font-size: calc(3px + 19 * (100vw / 1920));
  }
}
@media (min-width: 1920px) {
  .watch__text-discount {
    font-size: 22px;
  }
}

.watch__text-discount {
  color: #0ead69;
  margin: 20px 0px 40px 0px;
}
@media (max-width: 767px) {
  .watch__text-discount {
    font-size: calc(
      3px + 32.3 * ((100vw - 320px) / 1920)
    );
  }
}
@media (min-width: 767px) {
  .watch__text-discount {
    font-size: calc(3px + 19 * (100vw / 1920));
  }
}
@media (min-width: 1920px) {
  .watch__text-discount {
    font-size: 22px;
  }
}

.watch__button {
  padding: 15px 60px;
}
@media (max-width: 767px) {
  .watch__button {
    font-size: calc(
      3px + 49.3 * ((100vw - 320px) / 1920)
    );
  }
}
@media (min-width: 767px) {
  .watch__button {
    font-size: calc(3px + 29 * (100vw / 1920));
  }
}
@media (min-width: 1920px) {
  .watch__button {
    font-size: 32px;
  }
}

.watch__block-img {
  display: flex;
  align-items: center;
}

.watch__img {
  max-width: 100%;
  flex: 0 1 50%;
}

.arrow-1 {
  transform: rotate(135deg);
}

.arrow-2 {
  transform: rotate(-45deg);
}

.arrow-1,
.arrow-2 {
  cursor: pointer;
  border: solid #fbfffe;
  border-width: 0 5px 5px 0;
  display: inline-block;
  padding: 15px;
}

.features__container {
  text-align: center;
  padding: 255px 10px 91px 10px;
}

.features__cards {
  flex-wrap: wrap;
  display: flex;
  justify-content: space-around;
}

.features__card {
  padding: 15px;
  margin-bottom: 50px;
  max-width: 403px;
  display: flex;
  flex-direction: column;
  text-align: center;
}

.features__card-ellipse {
  position: relative;
  border: solid 6px #0ead69;
  background-color: #d0d0d0;
  border-radius: 50%;
  width: 342px;
  height: 342px;
}

.features__card-img {
  position: absolute;
  top: 0;
  left: 0;
}

.features__card-title {
  font-size: 32px;
  font-weight: 700;
  margin: 23px 0px 12px 0px;
  color: #0ead69;
}

.features__card-text {
  padding: 10px;
  font-size: 24px;
  font-family: "Exo 2";
  line-height: 1.4;
}

.features__btn {
  font-size: 28px;
  padding: 15px 75px;
}

.statistics__container {
  padding: 15px 0px 78px 0px;
  text-align: center;
}

.statistics__content {
  margin-bottom: 40px;
  display: flex;
  justify-content: space-around;
}

.statistics__block {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 65px 0px;
}

.statistics__title {
  font-weight: 700;
  font-size: 32px;
}

.statistics__greenbar::after {
  content: "";
  margin: 10px auto 15px auto;
  display: block;
  width: 200px;
  height: 4px;
  background-color: #0ead69;
}

.statistics__number {
  font-weight: 700;
  font-size: 90px;
}

.statistics__text {
  margin-top: 25px;
  line-height: 1.3;
  font-family: "Exo 2";
  font-size: 24px;
}

.block-ratings {
  flex-direction: column-reverse;
}

.statistics__btn {
  font-size: 28px;
  padding: 15px 75px;
}

.reviews {
  padding-bottom: 38px;
}

.reviews__container {
  display: flex;
  flex-direction: column;
  gap: 55px;
  padding-top: 40px;
  max-width: 1325px;
  margin-bottom: 55px;
}

.reviews__row-left {
  display: flex;
  gap: 70px;
}

.reviews__row-right {
  display: flex;
  gap: 70px;
  align-self: flex-end;
}

.review {
  display: flex;
  align-items: flex-start;
  gap: 30px;
}

.review__avatar {
  background-color: white;
  border-radius: 100%;
  border: 3px solid #0ead69;
}

.review__box {
  display: flex;
  flex-direction: column;
  max-width: 364px;
}

.review__header-box {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.review__header {
  display: flex;
  flex-direction: column;
  gap: 9px;
}

.review__name {
  font-size: 26px;
  font-weight: 700;
}

.review__data {
  font-size: 22px;
  font-weight: 700;
  border-width: 3px 3px 0;
  border-style: solid;
  border-color: #0ead69;
  border-radius: 15px 15px 0 0;
  text-align: center;
  padding: 6px 0;
}

.review__like {
  display: flex;
  gap: 8px;
  align-items: flex-end;
}

.review__like-num {
  font-size: 25px;
  font-family: "Exo 2", sans-serif;
}

.review__content {
  border: 3px solid #0ead69;
  border-radius: 0 25px 5px 25px;
  padding: 25px 14px 7px 14px;
}

.review__text {
  font-size: 24px;
  font-family: "Exo 2", sans-serif;
  text-align: center;
  margin-bottom: 15px;
}

.review__read-next {
  font-size: 24px;
  color: #0ead69;
  display: block;
  text-align: right;
}

.reviews__all-reviews {
  display: block;
  font-size: 28px;
  border: 3px solid #0ead69;
  border-radius: 30px;
  padding: 25px 15px;
  width: 350px;
  margin: 0 auto;
}

.order__container {
  display: flex;
  flex-direction: column;
  padding: 70px 0px 55px 0px;
  max-width: 817px;
}

.order__form {
  margin-bottom: 55px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 380px));
  grid-template-rows: repeat(auto-fit, minmax(50px, 1fr));
  row-gap: 30px;
  -moz-column-gap: 70px;
       column-gap: 70px;
  grid-auto-flow: column;
}
.order__form > * {
  border: 3px solid #0ead69;
  border-radius: 15px;
  padding: 10px 15px;
  font-size: 20px;
  font-family: "Exo 2";
  color: black;
}
.order__form > *::-moz-placeholder {
  font-size: 20px;
  font-family: "Exo 2";
  color: black;
}
.order__form > *:-ms-input-placeholder {
  font-size: 20px;
  font-family: "Exo 2";
  color: black;
}
.order__form > *::placeholder {
  font-size: 20px;
  font-family: "Exo 2";
  color: black;
}

.order__comment {
  grid-row: span 3;
  grid-column-start: -1;
}

.order__button {
  border-radius: 15px;
  font-size: 26px;
  text-align: center;
  max-width: 380px;
  padding: 15px 0px;
}/*# sourceMappingURL=styles.css.map */