@import "_nullstyle";

$green: #0ead69;
$grey: #d0d0d0;

$maxWidth: 1920;

@mixin adaptiv-font($pcSize, $mobSize) {
  $addSize: $pcSize - $mobSize;
  $addMobSize: $addSize + $addSize * 0.7;
  @media (max-width: 767px) {
    font-size: calc(
      #{$mobSize + px} + #{$addMobSize} * ((100vw - 320px) / #{$maxWidth})
    );
  }

  @media (min-width: 767px) {
    font-size: calc(#{$mobSize + px} + #{$addSize} * (100vw / #{$maxWidth}));
  }

  @media (min-width: 1920px) {
    font-size: $pcSize + px;
  }
}

h1 {
  font-family: "Exo 2";
  @include adaptiv-font(54, 3);
}

h2 {
  font-size: 38px;
  color: $green;
  font-weight: 700;
}

h4 {
  font-size: 26px;
  color: $green;
  font-weight: 700;
}

html {
  background-color: #212121;
  scroll-behavior: smooth;
  // font-size: calc(10 * (100vw / 1920));
}

body {
  font-family: Nunito Sans;
  color: #fbfffe;
}

a {
  color: #fbfffe;
}

[class*="__container"] {
  max-width: 1700px;
  margin: 0 auto;
  padding: 0px 15px;
}

.wrapper {
  background: url(images/Background_2.jpg) right 49% top 116% no-repeat;
}

.button {
  border-radius: 30px;
  border: 3px solid #0ead69;
  transition: all ease-in-out 0.2s;
  &:hover {
    background-color: #0ead69;
    color: #212121;
  }
}

.section__title {
  margin: 27px 0px 0px 138px;
}

.greenbar {
  border-top: solid 6px $green;
}

// header

.header__wrapper {
  max-width: 1920px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header {
  width: 100%;
  padding: 0px 35px;
  position: absolute;
  top: 20px;
  left: 0;
}

.logo {
  font-family: Kodchasan;
  color: $green;
  @include adaptiv-font(60, 12);
  // font-size: 6rem;
}

.menu {
  display: flex;
  gap: 26px;
  padding-left: 10px;
  align-items: center;
}

.menu__list {
  display: flex;
  gap: 26px;
  align-items: center;
}

.header__profile {
  max-width: 99%;
}

.header__profile img {
  object-fit: cover;
}

.menu__item {
  text-transform: uppercase;
  // font-size: 2.2rem;
  @include adaptiv-font(22, 3);
}

.menu__link {
  transition: all ease 0.3s;
  &:hover {
    color: $green;
  }
}

// watch

.watch {
  background: url(images/Introimg.jpg) center, no-repeat;
  background-size: cover;
  // height: 100vh;
}

.watch__block-order {
  padding: 15px;
}

.watch__container {
  display: flex;
  align-items: center;
  justify-content: space-around;
  gap: 60px;
  padding: 166px 15px 118px 15px;
}

.watch__text {
  font-family: "Exo 2";
  margin: 25px 0px 13px 0px;
  @include adaptiv-font(28, 3);
}

.watch__timer-box {
  max-width: 365px;
  position: relative;
  display: flex;
  padding: 15px 23px;
}

.watch__timer-box::before,
.watch__timer-box::after {
  content: "";
  position: absolute;
  height: 100%;
  width: 3px;
  background-color: $green;
}

.watch__timer-box::before {
  left: 0;
  top: 0;
}

.watch__timer-box::after {
  right: 0;
  top: 0;
}

span[class^="watch__"][class$="box"] {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}

.watch__hours-box {
  margin-right: 20px;
}

.watch__hours-box::after {
  content: ":";
  font-size: 50px;
  color: $green;
  position: absolute;
  top: -5px;
  right: -14px;
}

.watch__minutes-box {
  margin-right: 20px;
}

.watch__minutes-box::after {
  content: ":";
  font-size: 50px;
  color: $green;
  position: absolute;
  top: -5px;
  right: -14px;
}

.watch__days-box {
  margin-right: 35px;
}

[class^="watch__"][class$="num"] {
  color: $green;
  font-size: 50px;
  margin-bottom: 10px;
}

[class^="watch__"][class$="title"] {
  font-size: 16px;
}

.watch__text-discount {
  color: $green;
  @include adaptiv-font(22, 3);
  margin: 20px 0px 40px 0px;
}

.watch__text-discount {
  color: $green;
  @include adaptiv-font(22, 3);
  margin: 20px 0px 40px 0px;
}

.watch__button {
  padding: 15px 60px;
  // font-size: 32px;
  @include adaptiv-font(32, 3);
}

.watch__slider {
  display: flex;
  gap: 60px;
  align-items: center;
}

.watch__block-img {
  display: flex;
  align-items: center;
  max-width: 489px;
  min-height: 647px;
}

.watch__img {
  flex: 0 1 50%;
  transition: all ease-in-out 0.8s;
  width: 0px;
  &:hover {
    filter: drop-shadow(1px 1px 40px rgba(85, 255, 225, 0.4));
  }
  &.active {
    width: 100%;
  }
}

.arrow-1 {
  transform: rotate(135deg);
}

.arrow-2 {
  transform: rotate(-45deg);
}

.arrow-1,
.arrow-2 {
  background: none;
  cursor: pointer;
  border: solid #fbfffe;
  border-width: 0 5px 5px 0;
  display: inline-block;
  padding: 15px;
}

// Features

.features__container {
  text-align: center;
  padding: 150px 10px 91px 10px;
}

.features__cards {
  flex-wrap: wrap;
  display: flex;
  justify-content: space-around;
}

.features__card {
  padding: 15px;
  margin-bottom: 50px;
  max-width: 403px;
  display: flex;
  flex-direction: column;
  text-align: center;
}

.features__card-ellipse {
  position: relative;
  border: solid 6px $green;
  background-color: $grey;
  border-radius: 50%;
  width: 342px;
  height: 342px;
}

.features__card-img {
  position: absolute;
  top: 0;
  left: 0;
}

.features__card-title {
  font-size: 32px;
  font-weight: 700;
  margin: 23px 0px 12px 0px;
  color: $green;
}

.features__card-text {
  padding: 10px;
  font-size: 24px;
  font-family: "Exo 2";
  line-height: 1.4;
}

.features__btn {
  font-size: 28px;
  padding: 15px 75px;
}

// statistics

.statistics__container {
  padding: 15px 0px 78px 0px;
  text-align: center;
}

.statistics__content {
  margin-bottom: 70px;
  display: flex;
  justify-content: space-around;
}

.statistics__watches {
  transition: all ease-in-out 0.3s;
  &:hover {
    filter: drop-shadow(1px 1px 40px rgba(85, 255, 225, 0.4));
  }
}

.statistics__block {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-top: 65px;
}

.statistics__title {
  font-weight: 700;
  font-size: 32px;
  // ::after {
  //   content: "";
  //   display: block;
  //   width: 200px;
  //   height: 4px;
  //   color: $green;
  // }
  // ОШИБКА: КОМПИЛИРУЕТ КЛАСС В CSS С ПРОБЕЛОМ ПЕРЕД ПСЕДВОЭЛЕМЕНТОМ
}

.statistics__greenbar::after {
  content: "";
  margin: 10px auto 15px auto;
  display: block;
  width: 200px;
  height: 4px;
  background-color: $green;
}

.statistics__number {
  font-weight: 700;
  font-size: 90px;
}

.statistics__text {
  margin-top: 25px;
  line-height: 1.3;
  font-family: "Exo 2";
  font-size: 24px;
}

.block-ratings {
  flex-direction: column-reverse;
}

.statistics__btn {
  font-size: 28px;
  padding: 15px 75px;
}

//Reviews

.reviews {
  padding-bottom: 38px;
}

.reviews__container {
  display: flex;
  flex-direction: column;
  gap: 55px;
  padding-top: 40px;
  max-width: 1325px;
  margin-bottom: 55px;
}

.reviews__row-left {
  display: flex;
  gap: 70px;
}

.reviews__row-right {
  display: flex;
  gap: 70px;
  align-self: flex-end;
}

.review {
  display: flex;
  align-items: flex-start;
  gap: 30px;
}

.review__avatar {
  background-color: white;
  border-radius: 100%;
  border: 3px solid $green;
}

.review__box {
  display: flex;
  flex-direction: column;
  max-width: 364px;
}

.review__header-box {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.review__header {
  display: flex;
  flex-direction: column;
  gap: 9px;
}

.review__name {
  font-size: 26px;
  font-weight: 700;
}

.review__data {
  font-size: 22px;
  font-weight: 700;
  border-width: 3px 3px 0;
  border-style: solid;
  border-color: $green;
  border-radius: 15px 15px 0 0;
  text-align: center;
  padding: 6px 0;
}

.review__like {
  display: flex;
  gap: 8px;
  align-items: flex-end;
}

.review__like-img {
  cursor: pointer;
  transition: filter ease-in-out 0.1s;
  &.active {
    filter: hue-rotate(235deg);
  }
  &:not(.active):hover {
    filter: saturate(300%);
  }
}

.review__like-num {
  font-size: 25px;
  font-family: "Exo 2", sans-serif;
}

.review__content {
  border: 3px solid $green;
  border-radius: 0 25px 5px 25px;
  padding: 25px 14px 7px 14px;
  &:not(.active) :not(:first-child):not(:last-child) {
    display: none;
  }
}

.review__text {
  font-size: 24px;
  font-family: "Exo 2", sans-serif;
  text-align: center;
  margin-bottom: 15px;
}

.review__read-next {
  font-size: 24px;
  color: $green;
  display: block;
  text-align: right;
  margin-left: auto;
}

.reviews__all-reviews {
  display: block;
  font-size: 28px;
  border: 3px solid $green;
  border-radius: 30px;
  padding: 25px 15px;
  width: 350px;
  margin: 0 auto;
}

//Order

.order__container {
  display: flex;
  flex-direction: column;
  padding: 70px 0px 55px 0px;
  max-width: 817px;
}

.order__form {
  margin-bottom: 55px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 380px));
  grid-template-rows: repeat(auto-fit, minmax(50px, 1fr));
  row-gap: 30px;
  column-gap: 70px;
  grid-auto-flow: column;
  > * {
    border: 3px solid $green;
    border-radius: 15px;
    padding: 10px 15px;
    font-size: 20px;
    font-family: "Exo 2";
    color: black;
    &::placeholder {
      font-size: 20px;
      font-family: "Exo 2";
      color: black;
    }
  }
}

.order__comment {
  grid-row: span 3;
  grid-column-start: -1;
}

.order__button {
  border-radius: 15px;
  font-size: 26px;
  text-align: center;
  max-width: 380px;
  padding: 15px 0px;
}

// footer

.footer__links {
  display: flex;
  gap: 35px;
  align-items: center;
}

.footer__social-media {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 50px;

  &::before,
  &::after {
    height: 6px;
    width: 100vw;
    content: "";
    background-color: $green;
  }

  &::before {
    top: calc(50% - 3px);
    right: calc(100% + 50px);
  }

  &::after {
    top: calc(50% - 3px);
    left: 0;
  }
}

.footer__container {
  padding: 70px 0px 17px 0px;
}

.footer__content {
  display: flex;
  justify-content: space-around;
  margin-bottom: 80px;
}

.footer__item {
  display: flex;
  flex-direction: column;
  gap: 15px;
  align-items: center;
}

.copyright {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
  &::before {
    content: "";
    display: block;
    top: 100%;
    width: 550px;
    height: 4px;
    background-color: $green;
  }
}

// Media

// @media (max-width: 1730px) {
//   [class*="__container"] {
//     max-width: 1350px;
//   }

//   .watch__container {
//     padding-left: 0px;
//   }
// }
